<a href="https://colab.research.google.com/github/iharshidas/LetsUpgradePython/blob/master/Day4_Assignment_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Questions 1:**
How to import pandas and check the version?

In [4]:
import numpy as np
np.__version__

'1.18.5'

### **Questions 2:**
How to create a series from a numpy array?

In [5]:
import pandas as pd
a=np.array([1,2,3,4,5,6,7,8,9])
b=pd.Series(a)
b

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

### **Questions 3:**
How to convert the index of a series into a column of a dataframe?

In [8]:
c=pd.DataFrame(b.index)
c

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8

### **Questions 4:**
Write the code to list all the datasets available in seaborn library.  
Load the 'mpg' dataset  
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the materials folder)

In [10]:
import seaborn as sns
mpg=sns.load_dataset('mpg')
mpg.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

### **Questions 5:**
Which country origin cars are a part of this dataset?

In [12]:
mpg.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

### **Questions 6:**
Extract the part of the dataframe which contains cars belonging to 'usa'

In [18]:
mpg[mpg['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]